﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:660px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:660px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-3px;
  visibility:hidden;
}
#u2_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:840px;
  height:660px;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:660px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.556862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:660px;
}
#u5 {
  position:absolute;
  left:2px;
  top:322px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:-38px;
  top:-19px;
  width:518px;
  height:367px;
}
#u6 {
  position:absolute;
  left:200px;
  top:156px;
  width:442px;
  height:291px;
  color:#FFFFFF;
  text-align:left;
}
#u7 {
  position:absolute;
  left:24px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:291px;
}
#u8 {
  position:absolute;
  left:200px;
  top:156px;
  width:442px;
  height:291px;
}
#u9 {
  position:absolute;
  left:16px;
  top:16px;
  width:424px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:546px;
  top:402px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.117647058823529);
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  color:rgba(0, 0, 0, 0.117647058823529);
}
#u12 {
  position:absolute;
  left:12px;
  top:10px;
  width:66px;
  white-space:nowrap;
}
#u10_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  visibility:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u14 {
  position:absolute;
  left:12px;
  top:10px;
  width:66px;
  white-space:nowrap;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:454px;
  top:402px;
  width:82px;
  height:36px;
}
#u16 {
  position:absolute;
  left:12px;
  top:10px;
  width:58px;
  white-space:nowrap;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:2px;
}
#u17 {
  position:absolute;
  left:200px;
  top:330px;
  width:442px;
  height:1px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-8px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:2px;
}
#u19 {
  position:absolute;
  left:200px;
  top:269px;
  width:442px;
  height:1px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-8px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:2px;
}
#u21 {
  position:absolute;
  left:200px;
  top:208px;
  width:442px;
  height:1px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-8px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u25 {
  position:absolute;
  left:272px;
  top:341px;
  width:266px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27 {
  position:absolute;
  left:216px;
  top:341px;
  width:40px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u30 {
  position:absolute;
  left:272px;
  top:280px;
  width:266px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u30_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u32 {
  position:absolute;
  left:216px;
  top:280px;
  width:40px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:200px;
  top:269px;
  width:442px;
  height:62px;
}
#u34_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.mouseOver {
}
#u34_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.117647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34.selected {
}
#u35 {
  position:absolute;
  left:2px;
  top:23px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u38 {
  position:absolute;
  left:272px;
  top:219px;
  width:266px;
  height:40px;
  text-align:left;
  line-height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u40 {
  position:absolute;
  left:216px;
  top:219px;
  width:40px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:2px;
}
#u42 {
  position:absolute;
  left:200px;
  top:391px;
  width:442px;
  height:1px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-8px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:522px;
  top:367px;
  width:87px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:365px;
  top:694px;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:148px;
  height:136px;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:136px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:136px;
}
#u48 {
  position:absolute;
  left:2px;
  top:60px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:148px;
  height:136px;
  visibility:hidden;
  background-image:none;
}
#u46_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:136px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:136px;
}
#u50 {
  position:absolute;
  left:2px;
  top:60px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:336px;
  top:1014px;
  width:140px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
