﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u89 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:568px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:0px;
  top:24px;
  width:360px;
  height:568px;
}
#u91 {
  position:absolute;
  left:16px;
  top:276px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u93 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:0px;
  top:27px;
  width:360px;
  height:567px;
  overflow:hidden;
}
#u94_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:567px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u94_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1011px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1011px;
}
#u96 {
  position:absolute;
  left:2px;
  top:498px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:133px;
  top:594px;
  width:91px;
  height:46px;
}
#u98 {
  position:absolute;
  left:2px;
  top:15px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
