﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
}
#u532 {
  position:absolute;
  left:45px;
  top:0px;
  width:36px;
  height:40px;
  color:#F73F3C;
}
#u533 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u534 {
  position:absolute;
  left:91px;
  top:0px;
  width:35px;
  height:40px;
}
#u535 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u536 {
  position:absolute;
  left:136px;
  top:0px;
  width:35px;
  height:40px;
  color:#007241;
}
#u537 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u538 {
  position:absolute;
  left:226px;
  top:0px;
  width:35px;
  height:40px;
}
#u539 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u540 {
  position:absolute;
  left:406px;
  top:0px;
  width:35px;
  height:40px;
}
#u541 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u542 {
  position:absolute;
  left:316px;
  top:0px;
  width:35px;
  height:40px;
}
#u543 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u544 {
  position:absolute;
  left:271px;
  top:0px;
  width:35px;
  height:40px;
}
#u545 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u546 {
  position:absolute;
  left:361px;
  top:0px;
  width:35px;
  height:40px;
}
#u547 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u548 {
  position:absolute;
  left:181px;
  top:0px;
  width:35px;
  height:40px;
}
#u549 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u550 {
  position:absolute;
  left:451px;
  top:0px;
  width:35px;
  height:40px;
}
#u551 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u554 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u555 {
  position:absolute;
  left:8px;
  top:17px;
  width:20px;
  height:20px;
  color:#FF0000;
}
#u556 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u557 {
  position:absolute;
  left:496px;
  top:0px;
  width:35px;
  height:40px;
}
#u558 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
